@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: "Inter", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

#landing {
    width: 100%;margin-top: 32px;
}
#heading {
    display: flex;
    padding: 96px 0;

}

a {
    text-decoration: none;
}

button {
    display: flex;
    cursor: pointer;
}
h1 {
    font-weight: 48px;
}
nav {

    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
menu {
    list-style-type: none;
}
.site__frame {
    padding: 32px;
}
.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.nav__container {
    display: flex;
    align-items: center;
    margin: 24px;
}
.header__container {
    display: flex;
    max-width: 1200px;
    align-items: center;
    padding: 96px 0;
    
}
.container {
    padding: 96px 0;


}
#features {
    position: relative;
    
}

.nav__logo--img {
    width: 32px;
    margin-right: 12px;
    font-weight: 700;

}
.nav__logo {
    margin: 0 12px;
    font-size: 24px;
    font-weight: 700;

}
.nav__logo--link {
    display: flex;
    color:black;
    font-weight: 700;
}

.nav__link--list {
    display: flex;
}

.nav__link--anchor {
    margin: 0 12px;
    color: #3f3d56;
    font-weight: 700;
    margin: 0 24px;
    font-size: 14px;
}

.nav__link--anchor-primary {
    background-color: #6415FF;
    margin: 0 12px;
    padding: 12px 32px;
    border-radius: 50px;
    color: white;
    transition: all 300ms ease;
}
.nav__link--anchor-primary:hover {
    background-color: #4f12c9;
}

.link__hover-effect:after {
    content: "";
    position: absolute;
    height: 3px;
    background-color: black;
    width: 0%;
    bottom: -3px;
    right: 0;
    transition: all 300ms ease;
}
.link__hover-effect:hover:after {
    width: 100%;
    left: 0;
}
.link__hover-effect--white:after {
    background-color: white;
}
.link__hover-effect--black:after {
    background-color: #3f3d56;
}

/* HEADING SECTION */


.title {
    font-size: 16px;
    font-weight: 900;
    margin-bottom: 16px;
    letter-spacing: 2px;
}
.sub-title {
    color: #243e63;
    font-size: 48px;
    font-weight: 900;
    width: 100%;
    margin-top: 16px;
}
.description--para {
    color: #718096;
    font-size: 18px;
    margin-top: 16px;

    line-height: 1.5;
}

.btn {
    background-color: #6415FF;
    font-size: 16px;
    font-weight: 700;
    color: white;
    transition: all 300ms ease;
    width: 150px;
    border-radius: 50px;   
    padding: 16px 0;
    display: flex;
    justify-content: center;
    border: none;
}
.btn:hover {
    background-color: #4f12c9;
}


.header__container {
    margin: 0 32px;
}
.header__description {
    width: 40%;
    position: relative;
}

.header__img--wrapper {
    width: 60%;
}
.purple {
    color: #6415FF;
}
.header__description--img {
    width: 100%;
    height: 100%;
    max-height: 40vh;
}
.header__description--customer-logo {
    width: 100%;
    padding-right: 64px;
    margin-top: 16px;

}
.quality__work--wrapper {
    display: flex;

}
.header__description--title {
    font-size: 48px;
}

.header__description--customers {
    font-size: 12px;
    margin-top: 80px;
}
.header__description--email-input input {
    width: 100%;

}

.header__description--email {
    position: relative;
    width: 440px;
    max-width: 100%;

}

.header__description--email input {
    padding: 20px 192px 20px 32px;
    border: solid 2px lightgray;
    border-radius: 50px;
    padding-left: 16px;
    font-weight: 500;
    width: 100%;

}
.header__description--email button {
    margin-right:8px;
    height: 80%;
    position: absolute;
    right: 0;   
    top: 10%;
}

/*FEATURES*/
.features__title {
    text-align: center;
}

.features__sub-title {
    text-align: center;
}


.features__description {
    color: #7c8ba1;
    font-size: 18px;
    width: 100%;
    max-width: 50%;
    line-height: 1.5;   
    margin: 0 auto;

    text-align: center;
}
.features__tiles {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1200px;
    padding-top: 24px;
    
}
.features__tile {
    max-width: calc(100% / 3);
    display: flex;
    justify-content: center;
    margin: 0 16px;
    padding: 32px 8px;


}
.features__tile--img-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid 1px lightgray;
    border-radius: 50%;
    max-height: 60px;
    height: 100%;
    aspect-ratio: 1;
    text-align: center;
    padding: 20px;
    color:#5403f5;

}
.features__tile--info {
    margin-top: 8px;

}
.features__tile--title {
    color: #243e63;
    font-size: 24px;
    margin-left: 16px;
    font-weight: 700;
}
.features__tile--description {
    color: #7c8ba1;
    font-size: 16px;
    line-height: 2;
    margin-left: 16px;
    width: 100%;
    max-width: 200px;
}

/*QUALITY*/
#quality {
    padding: 0 32px;
}
.quality__work--wrapper {
    display: flex;
    align-items: center;

}
.quality__work {
    width: 40%;
    padding: 32px 0;
    align-items: center;
}
.quality__site-page {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 60%;

}
.quality__site-page img {
    width: 100%;
    max-width: 90%;
}
.learn__btn {
    margin-top: 32px;
}

/* STEPS */
#start__steps {
    padding: 0 32px;
}
.steps__list--item {
    display: flex;
    margin-top: 32px;
}
.list__item--number {
    color: #CBD5EA;
    font-size: 32px;
    font-weight: 600;
    width: 5%;
}
.steps--wrapper {
    display: flex;
}
.steps__site-page {
    width: 50%;

}
.steps__site-page img {
    max-width: 100%;
    height: auto;
    padding: 80px 48px 64px 0;

}
.steps {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: left;
}
.list__item--para {
    color: #718096;
    margin-top: 12px;
    max-width: 320px;
}
.list__item--title {
    color: #243e63;
    font-size: 24px;
}
.list__item {
    margin-left: 24px;
}
.steps__list--items {
    margin-top: 24px;
}

/*VALUES*/

.values--wrapper {
    display: flex;
    width: 100%
}
.values {
    display: flex;
    flex-direction: column;
    width: 45%;
    margin-right: 64px;
}
.values-page {
    display: flex;
    align-items: center;
    width: 50%;
    
}
.values-page img {
    max-width: 100%;
    height: auto;
}
.table__two-column {
    display: flex;

}
.column__heading {
    display: flex;
    align-items: center;
}
.column__title {
    font-size: 20px;
    font-weight: 700;
    margin-left: 12px;
    color: #243e63;
}

.column__img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid 1px lightgray;
    border-radius: 50%;
    max-height: 60px;
    height: 100%;
    aspect-ratio: 1;
    text-align: center;
    padding: 10px;
    color:#5403f5;

}
.img-1 {
    background-color: #9ae6b4;
}
.img-2 {
    background-color: #feb2b2;
}

/* PRICING */
.table__item {
    color: #718096;
    font-size: 16px;
    margin-top: 20px;
}
.table__item-price {
    color: #1a202c;
    font-size: 48px;
    margin: 4px 0;
}
.table__title {
    color: #1a202c;
    font-size: 20px;
    margin-bottom: 16px;
}

.table__item--white {
    color: white;
    font-weight: 500;
}
.columnsA {
    width: 100%;
    margin: 32px 32px 0 0;

}
.columnsB {
    width: 100%;
    margin-top: 32px;

}
.table__column{
    width: 100%;
    max-width: 350px;
    padding: 32px;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(226, 232, 240);
    border-width: 1px;
    position: relative;
    
}
.table__column--blue-border {
    width: 100%;
    max-width: 360px;
    padding: 32px;
    border-width: 0px;
    border-style: solid;
    border-color: #667EEA;
    border-width: 1px;
    position: relative;

}
.table__column--no-border {
    width: 100%;
    max-width: 350px;
    padding: 32px;
    margin-top: 2px;
    position: relative;
}
.table__three-column {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.table__container {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 64px 16px 0 0;
    padding: 8px 0 0 0;
    
}
.table__background {
    background-image: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
    border-radius: 8px;
    width: 100%;

}
.pricing__header--wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    max-width: 70%;
    margin: 0 auto;
}
.para__width {
    width: 70%;
    margin: 0 auto;
    margin-top: 16px;
}
.buy__btn {
    padding: 16px 32px;
    width: 220px;
    letter-spacing: .05em;
    margin: 0 auto;
    cursor: not-allowed;
}
.buy__btn:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: scale(1.01)
}

.buy__btn--white {
    background-color: #F7FAFC;
    color: #6415FF;
    border-radius: 50px;
    padding: 16px 0;
    display: flex;
    justify-content: center;
    border: none;
    font-weight: 700;
    font-size: 16px;
}

.buy__btn--green {
    background: linear-gradient(115deg, #38B2B2 0%, #81E6D9 100%);
}
.buy__btn--red {
    background: linear-gradient(115deg, #F56565 0%, #FEB2B2 100%);
}
.top__gradient--color-red {
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}
.top__gradient--color-green {
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}
.top__gradient {
    position: absolute;
    width: 100%;
    max-width: 350px;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}
.item__text--color {
    color: #a0aec0;
}
.buy-now__radius {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

}

/*TESTIMONIALS*/

.testimony__box {
    margin-top: 40px;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.author__rating {
    color: #fabf2a;
}
.testimony__para {
    margin: 16px 0 40px 0;
}
.testimonial__description--para {
    margin-top: 24px;
}

.testimony__description--para {
    margin-bottom: 40px;
}
.testimony__author--box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 26px;

}
.testimony__author--info {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
}
.author__name {
    font-weight: 700;
    font-size: 20px;
    color: #243e63;
}
.author__name--data {
    color: #7c8ba1;
}
.author__img {
    width: 80px;
    height: auto;
    border-radius: 50px;
}
.author__img img {
    display: block;
    max-width: 100%;    
}
.testimony__title {
    margin-top: 16px;
    font-size: 20px;
    color: #243e63;
}
.testimonial__controls {
    display: flex;

}
.testimonials--wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.testimonial__container {
    width: 65%;
    padding-left: 64px;
}
.testimonials__img--wrapper {
    position: relative;
    width: 35%;
}
.testimonials__site--img {
    max-width: 100%;
    height: auto;
}
.testimony__author--wrapper {
    display: flex;
    align-items: center;
    width: 55%;
}
.divider {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    border: solid 1px #edf2f7;


}
.button__img--parameters {
    height: 1rem;
    width: 1rem;
    stroke-width: 3;
}

.button__parameters {
    padding: 16px;
    margin: 0 12px 0 12px;
    background-color: #edf2f7;
    border: none;
    border-radius: 50px;
    color: #6415FF;
}
.right__button {
    transition: all 300ms ease;
}
.right__button:hover {
    background-color: #e4e9f0;
}
.left__button {
    transition: all 300ms ease;

}
.left__button:hover {
    background-color: #e4e9f0;
}