@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f6f3ea;
    font-family: "Inter", sans-serif;
  }
  input, select {
    background-color: #f6f3ea;
  }
  .navbar {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #27211c;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    width: 70px;
    height: auto;
    margin: 8px 16px;
    border-radius: 20%;

  }
.menu__wrapper {
    margin-right: 28px;
}
.menu__items {
    display: flex;
}
.menu__item {
    list-style: none;
    margin: 0 12px;
}

  .text__color {
    color:#ffe8d6;
  }
  
  .container {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 1200px;
  }
  .row {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  
  p {
    font-size: 18px;
    word-break: break-word;
  }
  
  .hidden {
    display: none;
  }
  
  .movie-list {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
  }
  
  .movie {
    width: 50%;

  }
  
  .movie-card {
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 10px;
    transition: 0.3s;
    cursor: pointer;
    border-radius: 10px;
  }
  
  .movie-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .movie-card__container {
    padding: 2px 16px;
  }

  .movie--img {
    width: 100%;
    max-width: 300px;
    border-radius: 2%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
.search__options--list {
    margin-right: 48px;
}
.search__container {
    width: 100%;
    background-color: rgb(55, 77, 110);
    display: flex;
    align-items: center;
    justify-content: center;
}
.searchbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 12px;
    color: white;
    margin: 24px;

  }

.movie__label {
    font-size: 18px;
    font-weight: 700;
    margin-right: 8px;
}
#type__control,
#title__control,
#page__control {
    border: none;
    height: 32px;
    font-size: 18px;
    margin: 8px;
}

.footer__container {
    background-color: #27211c;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 24px 0;
}
.copyright {
    margin-bottom: 24px;
}
